body{
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702684800&semt=sph');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .btn {
    padding: 10px 20px;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
    border: 2px solid;
    border-radius: 5px;
    color: rgb(2, 1, 2);
    background-color:rgb(234, 161, 206);
    transition: background-color 0.3s, color 0.3s;
  }
  h1{
    color:rgb(0, 0, 0);
    font-size:60px;
    text-align: center;
  }
  #dogImage{
    width: 450px; 
    height: 450px;
  }